body {
    height: 100vh;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    gap: 350px;
    padding-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

.sec1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
     padding: 10px; 
    background-color: #1F2937;
    gap: 100px;
    color: #F9FAF8;

}

.sec1 h1 {

    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.content button {
    padding: 8px 35px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    align-self: start;
    font-size: medium;
}

.content button:hover {
    background-color: #0056b3;
}

.sec2 h1{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
}



.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 50px;
    flex-wrap: wrap;
    
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    max-width: 150px; 
}

.image-container img {
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid blue; 
    box-shadow: 0 0 15px blue;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px yellow;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
    100% {
        box-shadow: 0 0 5px green;
    }
}

.sec3 {

    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
}

.quote{
align-items: center;
text-align:left;
max-width: 750px;
font-size: 36px;
font-style:italic;
font-weight: 100;
}

.name{
    font-weight: bolder;
    align-items: end;
    justify-content: end;
    padding-left: 450px;
}


.sec3 b{
    font-size: 25px;
    text-align: end;
}

.sec4 {

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.inner{
    display: flex;
    background-color: #007BFF;
    color: #F9FAF8;
    margin: 20px;
    align-items: center;
    gap: 200px;
    padding: 30px 50px 30px 50px;
    border-radius: 15px;
    
}

.text{
    margin-left: 50px;
}

.button{
    margin-right: 60px;
}

button{
    border: 2px solid #F9FAF8;
    background-color: #007BFF;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
    font-size: medium;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
    text-align: center;

}
.inner h3{
    margin-bottom: 0px;
}

.inner p{
    margin-top: 0px;
}


ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    gap: 16px;
    color: #F9FAF8;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}